body {
  justify-content: center;
  align-items: center;
}

#FireCanvas {
  position: flex;
  margin-top: auto;
  left: 38px;
}

table {
  border-collapse: collapse;
}
td {
  width: 32px;
  height: 32px;
  color: #fff;
  border: 1px solid #000;
  text-align: center;
  vertical-align: center;
  font-family: arial;
  font-size: 10px;
  position: relative;
  font-weight: bold;
}
td.pixel {
  width: 8px;
  height: 8px;
  border: 0;
}
.pixel-index {
  font-size: 7px;
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 1px;
  color: #927450;
}
.margin {
  display: block;
  margin-left: 5%;
}
